@model iOSPushNotification.Models.Notification
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="jumbotron">
        <h1>Push Notification</h1>
    </div>

    <div class="row">
        <div class="col-md-2">
            Enter token id
        </div>
        <div class="col-md-12">

            @Html.TextBoxFor(obNotification => obNotification.tokenId)

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Enter Notification text
        </div>

        <div class="col-md-4">
            @Html.TextBoxFor(obNotification => obNotification.message)

        </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <input id="btnSend" type="submit" value="Send" />
            </div>
        </div>
}